<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>test-user</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 后台拦截器 -->
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>com.ajaxjs.cms.controller.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>


	<filter>
		<description>MVC 过滤器</description>
		<filter-name>MVC_GlobalFilter</filter-name>
		<filter-class>com.ajaxjs.mvc.controller.MvcDispatcher</filter-class>
		<init-param>
			<description>依赖注射</description>
			<param-name>doIoc</param-name>
			<param-value>com.ajaxjs.cms, cn.nike</param-value>
		</init-param>
		<init-param>
			<description>指定搜索的包名，多个可以用 逗号 分开</description>
			<param-name>controller</param-name>
			<param-value>com.ajaxjs.cms, cn.nike</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MVC_GlobalFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>