body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #606c71;
}

.page-header {
	padding: 5rem 6rem;
	color: #fff;
	text-align: center;
	background-color: #159957;
	background-image: linear-gradient(120deg, #b1cef6, #b59ba4);
}

a {
	color: #1e6bb8;
	text-decoration: none;
}

h1 {
	font-size: 3.25rem;
	margin-top: 0;
	margin-bottom: 0.1rem;
	text-shadow: 1px 1px 1px gray;
}

h2 {
	font-size: 1.25rem;
	font-weight: normal;
	opacity: 0.7;
}

h3 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: #b39ca4;
	letter-spacing: 2px;
}

.main-content {
	max-width: 64rem;
	padding: 1rem 6rem;
	margin: 0 auto;
}

footer {
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: solid 1px #eff0f1;
	color: gray;
}

.language {
	float: right;
}

li {
	margin-bottom: 1%;
}

@media screen and (max-width:480px) {
	/*手机端浏览器所显示的网页CSS*/
	h1 {
		font-size: 2.25rem;
	}
	h2 {
		font-size: 1rem;
	}
	.body {
		max-width: 330px;
	}
	.page-header {
		padding: 1rem;
	}
	.main-content {
		padding: 0 1rem;
	}
}

.main-content h1 {
	display: none;
}

p {
	text-indent: 2rem;
}

table {
	border: 1px lightgray solid;
	border-collapse: collapse;
	border-spacing: 0;
	width: 98%;
	margin: 0 auto;
}

th {
	background-color: #efefef;
	letter-spacing: 3px;
}

td, th {
	border: 1px lightgray solid;
	line-height: 160%;
	height: 120%;
	padding: 6px;
}

tr:nth-child(even) {
	background: #f5f5f5;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
}