<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="可视化表单设计器" />
    <meta name="description" content="可视化表单设计器" />
    <meta name="author" content="Frank Chueng, frank@ajaxjs.com" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1" />
    <noscript>
        <div>如要享受本网站之服务请勿禁用浏览器 JavaScript 支持</div>
    </noscript>

    <title>可视化表单设计器</title>
    <style type="text/css">
        /* AJAXJS Base CSS */
        body,dl,dt,dd,ul,li,pre,form,fieldset,input,p,blockquote,th,td,h1,h2,h3,h4,h5{margin:0;padding:0;}
        h1,h2,h3,h4,h5{font-weight: normal;}img{border:0;}ul li{list-style-type:none}.hide{display:none}
        body {-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;
            font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
        a{text-decoration:none;color:#666;transition:color .4s ease-in-out;}
        a:hover{color:#000;}
        button{border:none;outline:0;cursor:pointer;letter-spacing:2px;text-align:center;-webkit-user-select:none;-moz-user-select:none;user-select:none}
        input[type=password],input[type=text],select,textarea{outline:0;-moz-appearance:none;}	
    </style>

    <link rel="stylesheet" href="http://localhost:8888/dist/css/all.css" />
    <link rel="stylesheet" href="http://localhost:8888/dist/css/app/workflow/form-builder.css" />
    <link href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <script src="https://lib.baomitu.com/vue/2.6.11/vue.js"></script>
    <script src="http://localhost:8888/dist/base.js"></script>
    <script src="http://localhost:8888/dist/widget.js"></script>
    <script src="http://localhost:8888/dist/form.js"></script>
</head>

<body>
    <div class="components">
        <h3 class="title">Components</h3>
        <ul>
            <li><img src="form-builder/label.png" />Label</li>
            <li draggable="true" ondragstart="event.dataTransfer.setData('text', event.target.innerText);"><img
                    src="form-builder/inputText.png" />Text Field</li>
            <li><img src="form-builder/button.png" />Button</li>
            <li><img src="form-builder/radio.png" />Radio</li>
            <li><img src="form-builder/checkbox.png" />CheckBox</li>
            <li><img src="form-builder/textarea.png" />Text Area</li>
            <li><img src="form-builder/label.png" />Label</li>
        </ul>
    </div>
    <div class="center">
        <header>
            <h3 class="title">Form Builder</h3>
            <div>
                <span class="right">
                    <a href="#" @click="toggleCodeMode" v-bind:class="{active:!codeMode}">Design</a> | <a href="#"
                        @click="toggleCodeMode" v-bind:class="{active:codeMode}">Code</a>
                </span>
                表单：article <button>打开</button> <button><i class="fa fa-floppy-o" aria-hidden="true"></i> 保存</button>
            </div>
        </header>

        <div class="stage aj-form-row-holder">

            <form v-show="!codeMode" @click="onStageClk">
                <div>
                    <label>
                        <div contenteditable="true" class="label">名 称：</div>
                        <input placeholder="请填写${uiName}名称" required="required" name="name" value="${info.name}"
                            type="text" />
                    </label>
                    <label>
                        <div contenteditable="true" class="label">名 称：</div>
                        <input placeholder="请填写${uiName}名称" required="required" name="name" value="${info.name}"
                            type="text" />
                    </label>
                </div>
                <div @dragenter="onDragEnter" @dragleave="onDragLeave">
                    <label>
                        <div contenteditable="true" class="label">名 称：</div><input placeholder="请填写766名称"
                            required="required" name="name22" value="${info.name}" type="text" />
                    </label>
                </div>
                <div @dragenter="onDragEnter" @dragleave="onDragLeave" ondragover="event.preventDefault();"
                    @drop="onDrop">
                    <label>
                        <div contenteditable="true" class="label">名 称：</div>
                    </label>
                </div>
                <div @dragenter="onDragEnter" @dragleave="onDragLeave" ondragover="event.preventDefault();"
                    @drop="onDrop">
                    <label>
                        <div contenteditable="true" class="label">名 称：</div>
                    </label>
                </div>
                <div @dragenter="onDragEnter" @dragleave="onDragLeave" ondragover="event.preventDefault();"
                    @drop="onDrop">
                    <label>
                        <div contenteditable="true" class="label">名 称：</div>
                    </label>
                </div>
            </form>


            <div class="codeEdit" v-show="codeMode">
                <pre class="prettyprint">var menuPanel = el.parentNode;
menuPanel.style.display = 'none';
setTimeout(function(){
  menuPanel.style.display = '';
}, 500);</pre>
            </div>
        </div>
    </div>

    <div class="right">
        <!-- 属性修改面板 -->
        <div class="dataSource">
            <h3 class="title">Data Source</h3>
            <label>表名：
                <select class="aj-select" @change="tableSelect($event)">
                    <option>不指定</option>
                    <option v-for="v in tables">{{v}}</option>
                </select>
            </label>
            <ul>
                <li v-for="v in fields" draggable="true">
                    <div>{{v.name}}<span>:{{v.type}}</span> <img :src="ajResources.commonAsset + '/icon/add.gif'"
                            title="绑定该字段" /></div>
                    <div class="comment">{{v.comment}}</div>
                </li>
            </ul>
        </div>

        <!-- 属性修改面板 -->
        <div class="bottom">
            <div class="property">
                <h3 class="title">Property Editor</h3>
                <table>
                    <tr>
                        <td class="key">id</td>
                        <td><input type="text" /></td>
                    </tr>
                    <tr>
                        <td class="key">名称 name</td>
                        <td><input type="text" v-model="name" /></td>
                    </tr>
                    <tr>
                        <td class="key">提示</td>
                        <td><input type="text" v-model="placeHolder" /></td>
                    </tr>
                    <tr>
                        <td class="key">值 value</td>
                        <td><input type="text" /></td>
                    </tr>
                    <tr>
                        <td class="key">值类型</td>
                        <td>
                            <select class="aj-select">
                                <option>不指定</option>
                                <option>纯数字</option>
                                <option></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="key">必填 required</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td class="key">正则验证</td>
                        <td><input type="text" /></td>
                    </tr>
                </table>
                <div class="bottom"></div>
            </div>
        </div>
    </div>

    <template class="propertyTpl">
        <div class="property">
            <h3 class="title">Property Editor</h3>
            <table>
                <tr>
                    <td class="key">id</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td class="key">名称 name</td>
                    <td><input type="text" v-model="name" /></td>
                </tr>
                <tr>
                    <td class="key">提示</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td class="key">值 value</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td class="key">值类型</td>
                    <td>
                        <select class="aj-select">
                            <option>不指定</option>
                            <option>纯数字</option>
                            <option></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="key">必填 required</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td class="key">正则验证</td>
                    <td><input type="text" /></td>
                </tr>
            </table>
            <div class="bottom"></div>
        </div>
    </template>


    <!-- 状态栏 -->
    <div class="statusBar hide" v-bind:class="{hideMe:!show}">{{text}}</div>

    <!-- 可视化环境组件 -->
    <script src="../../dist/app/wysiwyg/main.js"></script>
    <script src="../../dist/app/form-builder/data-source.js"></script>
    <script src="../../dist/app/form-builder/property-editor.js"></script>
    <script>
         aj.wysiwyg.statusBar.showMsg('欢迎来到 可视化表单设计器');
    </script>
</body>

</html>