 html,
 body,
 menu {
     height: 100%;
     padding: 0;
     margin: 0;
     overflow: hidden;
 }

 ul,
 li {
     padding: 0;
     margin: 0;
 }

 menu {
     width: 15%;
     height: 100%;
     border-right: 1px solid lightgray;
     background: url(pngegg.png) no-repeat 120px 30px;
     background-size: 30%;
     padding-top: 5px;
     float: left;
 }

 menu li {
     display: inline-block;
     width: 100%;
     box-sizing: border-box;
     padding: 8px;
     padding-left: 20%;

     border-bottom: 1px solid lightgray;
 }

 #main {
     min-height: 600px;
     width: 100%;
     padding: 10px;
 }

 a {
     font-size: 14px;
     color: cadetblue;
     text-decoration: none;
 }

 a:visited {
     color: gray;
 }

 .container {
     height: 100%;
     display: flex;
     justify-content: center;
     /* 水平居中 */
     align-items: center;
     /* 垂直居中 */
 }

 nav {
     background-color: #eee;
     height: 30px;
     padding: 10px 0;
 }

 nav li {
     float: left;
     display: inline-inline;
     list-style: none;
     padding: 5px 10px;
 }

 nav li.selected {
     color: black;
     font-weight: bold;
 }
