@import '../form/common-form-functions.less';

// body {
//     opacity   : 0;
//     transition: opacity 0.3s;
// }

// body.active {
//     opacity: 1;
// }

header.aj-admin-header {
    padding       : 2% 0;
    padding-bottom: 1.5%;
    

    &>div {
        text-align: right;
        padding   : 0 3%;
    }

    fieldset {
        border-bottom : 0;
        border-left   : 0;
        border-right  : 0;
        border-top    : 1px solid lightgray;
        width         : 96%;
        margin        : 0 auto;
        letter-spacing: 5px;

        legend {
            margin-left: 1em;
            font-size  : 1.2rem;

            span {
                font-size: .8rem;
            }
        }
    }
}

.aj-admin-filter-panel {
    width      : 96%;
    margin     : 0 auto;
    padding    : 1%;
    padding-top: 0;
    text-align : right;

    form {
        display: inline;
    }
}

table.listTable {
    width : 96%;
    margin: 0 auto;
}

.listTable.pager {
    text-align: center;
}

.aj-admin-info-btns {
    .aj-btnsHolder-base();
}

// 权限管理系统
.assign-right {
	h3{
		padding-left: 2%; 
		font-weight: bold;
        text-align: left;
	}

    .soft-container .box {
        text-align: left;
    }

	.main-panel{
		min-width:900px;
		overflow-y: scroll;
		border-top:1px solid white;
		
		.tree-panel {
			float: left;
			h4{
				width: 200px;
				font-size: .8rem;
				height:20px;
				margin-bottom: 5%;
				background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
				border-bottom: 1px solid lightgray;
			}
		}
		
		&>table{
			border-left: 1px solid lightgray;
		}
	}
	th {
		padding: 0 !important;
		font-size:.9rem;
        background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	}
	
	caption {
		font-size: 1.2rem;
		padding:2%;
		font-weight: bold;
	}
	
	/*模拟对角线*/
	.out {
		border-top: 40px #D6D3D6 solid; /*上边框宽度等于表格第一行行高*/
		width: 0px; /*让容器宽度为0*/
		height: 0px; /*让容器高度为0*/
		border-left: 180px #BDBABD solid; /*左边框宽度等于表格第一行第一格宽度*/
		position: relative; /*让里面的两个子容器绝对定位*/
	}
	
	b {
		font-style: normal;
		display: block;
		position: absolute;
		top: -40px;
		left: -100px;
		width: 85px;
	}
	
	em {
		font-style: normal;
		display: block;
		position: absolute;
		top: -25px;
		left: -170px;
		width: 55x;
	}
	
	.t1{
		text-align:center;
	}
	.crud label{
		cursor: pointer;
	}
	.crud.disabled label {
		color:gray;
		cursor: not-allowed;
	}
}