/* style.css */
a{color: #333}
h2{font:22px/30px microsoft yahei;font-weight: bold;margin:0 0 10px 0;}
h3{font:14px/30px microsoft yahei;text-shadow:1px 1px 1px white;margin-top: 50px}
header{text-shadow:1px 1px 1px white;}
.intro{line-height: 24px}
.checks{margin:10px 0 30px;}
.content{margin:40px 0 0;}
.container {
	width: 850px;
	padding: 0 16px;
	margin: 24px auto;
	/*-webkit-animation-duration: .75s;
	-webkit-animation-delay: .5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: bounceInLeft;
	-moz-animation-duration: .75s;
	-moz-animation-delay: .5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-moz-animation-name: bounceInLeft;
	animation-duration: .75s;
	animation-delay: .5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	animation-name: bounceInLeft;
	*/
}

.layout-content{width:auto; background: none;margin-top:0;}
.layout-content-bd{padding-left: 270px}
.container{float:left;}
.sidebar{width:220px;float:left;}
.aside{display: none}
.nav-list {position: fixed;left:30px;top:70px;}
.nav-list ul{border-radius: 4px;overflow: hidden;box-shadow: 1px 1px 1px #CCC;}
.nav-list li{border-bottom:1px solid #555;border-top:1px solid #444;}
.nav-list li a{display: block;
line-height: 40px;
background: #333;
color: white;
text-decoration: none;
padding: 0 20px;
text-shadow: 1px 1px 1px #333;
background-color: #666;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555), color-stop(100%, #333));
background-image: -webkit-linear-gradient(top, #555, #444);
background-image: -moz-linear-gradient(top, #555, #333);
background-image: -ms-linear-gradient(top, #555, #333);
background-image: -o-linear-gradient(top, #555, #333);
background-image: linear-gradient(top, #555, #333);
}

.nav-list li a:hover{
background-color: #666;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666), color-stop(100%, #555));
background-image: -webkit-linear-gradient(top, #666, #555);
background-image: -moz-linear-gradient(top, #666, #555);
background-image: -ms-linear-gradient(top, #666, #555);
background-image: -o-linear-gradient(top, #666, #555);
background-image: linear-gradient(top, #666, #555);

}

.nav-list li a:active{
background-color: #666;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #555));
background-image: -webkit-linear-gradient(top, #333, #555);
background-image: -moz-linear-gradient(top, #333, #555);
background-image: -ms-linear-gradient(top, #333, #555);
background-image: -o-linear-gradient(top, #333, #555);
background-image: linear-gradient(top, #333, #555);

}

textarea{width: 552px;height: 515px;padding: 10px;}

.checks li {
	position: relative;
	text-align: center;
	display: block;
	float: left;
	list-style: none;
	height:100px;
	margin: 0;
	width: 33%;
	font-size: .9em;
	line-height: 1;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.checks li.active{
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4)
}

.checks li .code{
	position: absolute;
	padding: 0 10px;
	height:20px;
	line-height: 20px;
	color: #333;
	text-decoration: none;
	background: rgba(0,0,0,0.2);
	border-radius: 2px;
	right: 10px;
	top:10px;
	display: none;
	background: #E3E3E3;

border: 1px solid #BBB;
border-radius: 3px;
-webkit-box-shadow: inset 0 0 1px 1px #F6F6F6;
box-shadow: inset 0 0 1px 1px #F6F6F6;
color: #333;

text-align: center;
text-shadow: 0 1px 0 white;

}
.checks li .code:hover{
	background: #DBDBDB;
	}	

.checks li span {
	position: relative;
	margin:36px 0 0;
	padding:0 25px;
	font-family: monospace;
	display: inline-block;
	height: 30px;
	border-radius:5px;
	background: #ccc;
	text-align: center;
	cursor: pointer;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	box-shadow:1px 1px 1px #288095;
	text-shadow:0px -1px 0px #065567;
	font:12px/30px tahoma;
	color:#fff;
	font-weight:bold;
	 background-color: #409db3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#409db3), to(#1889a3)); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #409db3, #1889a3); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #409db3, #1889a3); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #409db3, #1889a3); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #409db3, #1889a3); /* Firefox 16+, IE10, Opera 12.50+ */
}



.mod-box{border:1px solid #ccc}
.mod-box .hd{height:30px;line-height:30px;background:#ccc;}

.mod-code{position:fixed;right:100px;top:100px}

/*from blog*/
