<html>

<head>
    <meta charset="utf-8" />
    <title>Data Service</title>

    <!-- import Vue.js -->
    <!--  <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script> -->
    <script src="libs/vue.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/view-design/4.7.0/styles/iview.css" />
    <!-- import iView -->
    <script src="libs/iview.js"></script>
    <style type="text/less">
    </style>

    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/less"></script> -->
    <script src="libs/less.js"></script>

    <!-- Include the Codemirror library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-codemirror@4.0.0/dist/vue-codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/selection/active-line.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" rel="stylesheet" />

</head>

<body>
    <div class="data-service">
        <nav>
            <div style="float:right;">
                <a>首页</a> | <a href="https://framework.ajaxjs.com" target="_blank">帮助</a> | <a @click="showAbout">关于</a>
            </div>
            数据服务 Data Service
        </nav>
        <Split v-model="split1" style="border-top: 1px solid lightgray;">
            <div slot="left" class="split-pane-left">
                <div class="search-panel ">
                    <i-Input suffix="ios-search" placeholder="搜索数据服务……" style="width: 90%" />
                </div>

                <i-Select v-model="datasource.id" style="margin: 15px 8px;width: 91%;" placeholder="请选择数据源">
                    <Option v-for="item in datasource.list" :key="item.id" :value="item.id">{{ item.name }}</Option>
                </i-Select>

                <Tree :data="treeData" style="margin-left: 10px;"></Tree>
            </div>
            <div slot="right" class="split-pane-right">

                <ul class="toolbar">
                    <li style="float:right" @click="refreshConfig">
                        <div>
                            <div class="icon">
                                <Icon type="md-refresh" size="25" style="color:darkcyan" />
                            </div>
                            <span class="text">
                                刷新配置
                            </span>
                        </div>
                    </li>
                    <li style="float:right" @click="isShowDataSource=true">
                        <div>
                            <div class="icon">
                                <Icon type="md-swap" size="25" style="color:blueviolet" />
                            </div>
                            <span class="text">
                                数据源
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="icon">
                                <Icon type="md-add" size="25" style="color:green" />
                            </div>
                            <span class="text">
                                新建服务
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="icon">
                                <Icon type="md-close" size="25" style="color:red" />
                            </div>
                            <span class="text">
                                删除
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="icon">
                                <Icon type="ios-add" size="25" style="color:cadetblue" />
                            </div>
                            <span class="text">
                                新建命令
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="icon">
                                <Icon type="ios-create" size="25" style="color:#f90" />
                            </div>
                            <span class="text">
                                保存
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="content">
                    <Tabs class="mainTab" name="mainTab" :value="activeTab" :animated="false" type="card"
                        @on-click="ifAdd">
                        <tab-pane label="首页" name="index" index="a" :closable="true" tab="mainTab"
                            style="padding: 0 10px">
                            <h1>
                                Welcome to DataService
                            </h1>
                        </tab-pane>
                        <tab-pane v-for="tab in mainTabs" :key="tab.label" :label="tab.label" :name="tab.name"
                            :index="tab.index" :closable="tab.closable" tab="mainTab" style="padding: 0 10px;">
                            <!--服务配置-->
                            <ul class="line-layout">
                                <li>
                                    <i-Select v-model="datasource.id" placeholder="请选择数据源">
                                        <Option v-for="item in datasource.list" :key="item.id" :value="item.id">{{
                                            item.name }}</Option>
                                    </i-Select>
                                </li>
                                <li>
                                    <i-input ref="inputName">
                                        <span slot="prepend">数据库表名</span>
                                    </i-input>
                                </li>
                                <li>
                                    <i-input ref="inputName" placeholder="实体的 URL 目录，必填的">
                                        <span slot="prepend">URL 目录</span>
                                    </i-input>
                                </li>
                            </ul>
                            <fieldset>
                                <legend>字段配置
                                    <Icon type="ios-arrow-down" style="cursor: pointer;" @click="togglePanel" />
                                </legend>
                            </fieldset>
                            <div class="config" style="height:0px">
                                <Form ref="create" :model="table" :rules="table.createRules" :label-width="120">
                                    <!-- <FormItem label="URL 前缀" prop="urlRoot">
                                      <i-input v-model="table.urlRoot" placeholder="以 http://…… 开头，如不指定为 localhost" />
                                    </FormItem> -->

                                    <FormItem label="描述：" prop="name">
                                        <i-input v-model="table.name" maxlength="100" show-word-limit type="textarea"
                                            :rows="2" placeholder="描述" />
                                    </FormItem>
                                    <FormItem label="主键生成策略：" prop="keyGen">
                                        <Select v-model="table.keyGen">
                                            <Option :value="3">UUID</Option>
                                            <Option :value="1">自增</Option>
                                            <Option :value="2">雪花</Option>
                                        </Select>
                                    </FormItem>
                                    <Divider style="color:gray" size="small">字段/参数映射 Mapping</Divider>
                                    <FormItem label="唯一主键" prop="idField">
                                        <i-input v-model="table.fieldsMapping.id" type="text" placeholder="不填写则默认为 id"
                                            style="width:260px;" />
                                        <a @click="showFields=true; toField = 'id'" style="float:right">选择字段
                                            &nbsp;&nbsp;</a>
                                    </FormItem>
                                    <FormItem label="创建日期的字段" prop="idField">
                                        <i-input v-model="table.fieldsMapping.createDate" type="text"
                                            placeholder="不填写则默认为 createDate" style="width:260px;"
                                            :disabled="!allDml.create.autoDate" />
                                        <a @click="showFields=true; toField = 'createDate'" style="float:right"
                                            :disabled="!allDml.create.autoDate">选择字段 &nbsp;&nbsp;</a>
                                    </FormItem>

                                    <FormItem label="修改日期的字段" prop="idField">
                                        <i-input v-model="table.fieldsMapping.updateDate" type="text"
                                            placeholder="不填写则默认为 updateDate" style="width:260px;"
                                            :disabled="!allDml.create.autoDate" />
                                        <a @click="showFields=true; toField = 'updateDate'" style="float:right"
                                            :disabled="!allDml.create.autoDate">选择字段 &nbsp;&nbsp;</a>
                                    </FormItem>
                                    <FormItem label="UUID 的字段" prop="idField">
                                        <i-input v-model="table.fieldsMapping.uuid" type="text"
                                            placeholder="不填写则默认为 uid" style="width:260px;"
                                            :disabled="!allDml.create.addUuid" />
                                        <a @click="showFields=true; toField = 'uuid'" :disabled="!allDml.create.addUuid"
                                            style="float:right">选择字段 &nbsp;&nbsp;</a>
                                    </FormItem>

                                    <!--     <FormItem label="生成 UUID 算法" prop="idField">
                                      <Select style="width:260px;" :disabled="!allDml.create.addUuid">
                                        <Option>GUID</Option>
                                        <Option>雪花算法</Option>
                                      </Select>
                                    </FormItem> -->

                                    <FormItem label="逻辑删除的状态" prop="idField">
                                        <i-input v-model="table.fieldsMapping.delStatus" type="text"
                                            placeholder="不填写则默认为 stat" style="width:260px;"
                                            :disabled="allDml.delete.isPhysicallyDelete" />
                                        <a @click="showFields=true; toField = 'delStatus'" style="float:right"
                                            :disabled="allDml.delete.isPhysicallyDelete">选择字段 &nbsp;&nbsp;</a>
                                    </FormItem>

                                    <!-- <FormItem label="分类标签" prop="tags">
                                      <TagsPicker />
                                    </FormItem> -->

                                    <Modal v-model="showFields" title="选择字段" cancel-text="" width="370">
                                        <ul class="showFieldsList">
                                            <li v-for="(v, k) in fields" :key="k">
                                                <label>
                                                    <div class="fieldsComments">{{table.fieldsComments[k]}}</div> <a
                                                        @click="table.fieldsMapping[toField] = k; showFields = false;">{{k}}</a>
                                                </label>
                                            </li>
                                        </ul>
                                    </Modal>
                                </Form>
                            </div>

                            <div class="main-edit-panel">
                                <ul class="command-list">
                                    <li>
                                        GET /foo
                                    </li>
                                    <li>
                                        POST /foo
                                    </li>
                                    <li>
                                        GET /foo
                                    </li>
                                    <li>
                                        POST /foo
                                    </li>
                                    <li>
                                        GET /foo
                                    </li>
                                    <li>
                                        + 新建命令
                                    </li>

                                </ul>
                                <div class="code-panel">
                                    <codemirror class="code-editor" ref="cm" v-model="code" :options="cmOption">
                                    </codemirror>

                                    <div>
                                        <div style="float:right">
                                            <a>生成“物理删除”语句</a> |
                                            <a>生成“逻辑删除”语句</a>
                                            <tips text="在逻辑上数据是被删除的，但数据本身依然存在库中（仅仅是更新状态字段为已删除）"></tips> |
                                            <a>格式化</a> |
                                            <a>复制</a>
                                        </div>

                                        命令类型
                                        <Radio-Group type="button">
                                            <Radio label="单个查询" title="查询单笔记录，通常返回一个记录的详细信息（info）。"></Radio>
                                            <Radio label="列表查询" title="返回列表记录（list）"></Radio>
                                            <Radio label="创建记录" title="执行 SQL INSERT 操作新增一笔记录（CREATE）。"></Radio>
                                            <Radio label="修改记录" title="指定记录 id，修改记录字段（UPDATE）。"></Radio>
                                            <Radio label="删除记录" title="删除单笔记录，若成功返回 true。"></Radio>
                                        </Radio-Group>

                                        <div style="margin:20px 0">
                                            <label>
                                                <input type="checkbox" :value="true" /> 生成唯一 uid
                                                <tips text="唯一 id，通过 uuid 生成不重复 id"></tips>
                                            </label>
                                            &nbsp;&nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" :value="true" /> 插入创建/修改日期
                                            </label>
                                            &nbsp;&nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" :value="true" /> 当有 id 参数时采用“修改”的规则
                                                <tips text="CreateOrSave，同一个接口处理"></tips>
                                            </label>

                                            <Divider style="color:gray" size="small">API 接口</Divider>

                                        </div>

                                    </div>




                                    </label>
                                </div>
                            </div>



                        </tab-pane>
                    </Tabs>
                </div>

                <div class="status-bar">Sss</div>
            </div>
        </Split>
        <Modal title="数据源配置" v-model="isShowDataSource" ok-text="保存" cancel-text="" width="900">
            <DataSource />
        </Modal>
    </div>

    <template id="DataSourceTpl">
        <div class="datasource" style="overflow: hidden">
            <div class="left">
                <ul>
                    <li v-for="datasource in datasources" :key="datasource.id" @click="active(datasource.id)"
                        :class="{ actived: datasource.actived }">
                        <span>
                            <Icon type="md-trash" style="float: right; margin-top: 3px"
                                @click="del(datasource.id, $event)" />
                        </span>
                        {{datasource.name}}
                    </li>
                </ul>
                <a class="add" @click="add">+ 新建……</a>
            </div>
            <div class="right">
                <i-Form ref="editForm" :model="form.data" :rules="form.createRules" :label-width="120"
                    style="margin-right:100px">
                    <form-item label="数据源名称：" prop="urlDir">
                        <i-Input v-model="form.data.urlDir" placeholder="数据源编码全局唯一不重复" />
                    </form-item>
                    <form-item label="数据库类型：" prop="type">
                        <i-Select v-model="form.data.type">
                            <Option v-for="(value, key) in DBType" :value="value" :key="value">{{ key }}</Option>
                        </i-Select>
                    </form-item>
                    <form-item label="连接地址：" prop="url">
                        <i-Input v-model="form.data.url" maxlength="200" show-word-limit type="textarea" :rows="4"
                            placeholder="数据库连接 URL，注意无须携带用户名和密码，且不需要 URL 转义" />
                    </form-item>
                    <form-item label="登录用户：" prop="username">
                        <i-Input v-model="form.data.username" placeholder="请输入数据库用户账号" />
                    </form-item>
                    <form-item label="登录密码：" prop="password">
                        <i-Input v-model="form.data.password" type="password" password placeholder="请输入账号密码" />
                    </form-item>
                    <form-item label="是否跨库：" prop="crossDB">
                        <i-switch v-model="form.data.crossDB" />
                    </form-item>
                </i-Form>
                <!--                 <i-Input v-model="editing.name" ref="inputName">
                    <span slot="prepend">环境名称</span>
                </i-Input>
                <br />
                <i-Input v-model="editing.urlPrefix">
                    <span slot="prepend">URL前缀</span>
                </i-Input> -->
            </div>
        </div>
    </template>

    <script src="datasource.js"> </script>
    <script src="main.js"> </script>
</body>

</html>