body{
	padding:2% 5%;
	font-size:100%;
	-webkit-font-smoothing:antialiased;
	font-family:"Microsoft YaHei","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",Arial;
}
p, li{
	font-size: .9rem;
}
.tips{
	color:gray;
	padding: 0 1%;
	border-left:solid 3px lightgray;
}
.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
 
pre.prettyprint {
	border: 0;
	border-left: 3px solid lightgray;
	padding:.5% 1%;
	font-size:14px;
	font-family:Monaco, Consolas, Courier New;
}
table.table{
	border: 1px gray solid;
	border-collapse: collapse;
	border-spacing: 0;
}
table.table th{
  background-color: #efefef;
}
table.table td, table.table th{
  border: 1px gray solid;
  line-height:160%;
  height:120%;
  padding:6px;		
}