<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ajaxjs-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- Admin UI 界面框架 -->
	<servlet>
		<servlet-name>AdminUI</servlet-name>
		<servlet-class>com.ajaxjs.adminUI.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUI</servlet-name>
		<!-- 可指定路径，注意要归属于下面 filter 验证地址 -->
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<!-- 指定一种登录验证方式。当前为 HTTP Basic Auth -->
	<filter>
		<filter-name>HttpBasicAuthFilter</filter-name>
		<filter-class>com.ajaxjs.user.auth.HttpBasicAuthFilter</filter-class>
		<!-- adminPassword 指定登录密码；如不指定，则默认为 123123 -->
		<init-param>
			<param-name>adminPassword</param-name>
			<param-value>a123123</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>HttpBasicAuthFilter</filter-name>
		<!-- 可指定路径，应使用 * 泛指该目录下所有路径 -->
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>


  	<filter>
		<description>MVC过滤器</description>
		<filter-name>GlobalFilter</filter-name>
		<filter-class>com.ajaxjs.mvc.controller.MvcDispatcher</filter-class>

		<init-param>
			<description>搜索哪个控制器的包</description>
			<param-name>controller</param-name>
			<param-value>com.ajaxjs.user</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>GlobalFilter</filter-name>
		<!--“/*”表示拦截所有的请求 -->
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
</web-app>