@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@700&display=swap");

/* AJAXJS RESET CSS */
body,dl,dt,dd,ul,li,pre,form,fieldset,input,p,blockquote,th,td,h1,h2,h3,h4,h5{margin:0;padding:0;}
h1,h2,h3,h4,h5{font-weight: normal;}img{border:0;}ul li{list-style-type:none}.hide{display:none}
body {-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
button{border:none;outline:0;cursor:pointer;letter-spacing:2px;text-align:center;-webkit-user-select:none;-moz-user-select:none;user-select:none}
input[type=password],input[type=text],select,textarea{outline:0;-moz-appearance:none;}

.hide {
    display: none
}

/* 手机端浏览器所显示的网页 CSS */
@media screen and (max-width:480px) {
    * {
        -webkit-tap-highlight-color: transparent;
        /* 很多 Android 浏览器的 a 链接有边框，这里取消它  */
        -webkit-touch-callout: none;
        /* 在 iOS 浏览器里面，假如用户长按 a 标签，都会出现默认的弹出菜单事件 */
        /* -webkit-user-select:none; */
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

a {
    color: #666;
    transition: color .4s ease-in-out;
    text-decoration: none;
}

.dark-theme a {
    color: lightgray;
}

a:visited,
a:hover {
    color: black;
}

.dark-theme a:visited,
.dark-theme a:hover {
    color: white;
}

.aj-title-1,
.aj-title-2 {
    font-weight: 700;
    font-optical-sizing: auto;
}

.dark-theme .aj-title-1,
.dark-theme .aj-title-2 {
    color: white;
}

.aj-title-1 {
    font-family: "Noto Serif SC", "source-han-serif-tc", serif;
}

.aj-title-2 {
    font-family: "Noto Sans SC", sans-serif;
}

.aj-article p,
.aj-article li {
    color: #333;
    font-size: 17px;
    margin-bottom: 8px;
    text-align: justify;
    text-indent: 2em;
    line-height: 2;
    letter-spacing: 1px;
    /* word-wrap: break-word; */
    text-rendering: optimizelegibility;
    hyphens: auto;
    font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

.dark-theme p,
.dark-theme li {
    color: white;
}

/* 楷体字体 */
/* http://zenozeng.github.io/fonts.css/ */
.aj-kaiti {
    /*小于 21px 出现锯齿*/
    font-size: 21px;
    font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW-Kai", serif;
}