/* AJAXJS RESET CSS */
body,
dl,
dt,
dd,
ul,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

ul li {
    list-style-type: none
}

.hide {
    display: none
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.aj-title-1 {
    font-weight: 700;
    font-optical-sizing: auto;
    font-family: "Noto Serif SC", "source-han-serif-tc", serif;
}