<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ajaxjs-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <description>MVC 过滤器</description>
    <filter-name>MVC_GlobalFilter</filter-name>
    <filter-class>com.ajaxjs.mvc.controller.MvcDispatcher</filter-class>
    <init-param>
      <description>指定搜索的包名，多个可以用 逗号 分开</description>
      <param-name>controller</param-name>
      <param-value>test.com.ajaxjs.mvc.controller</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MVC_GlobalFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>