.datasource .left {
    float: left;
    width: 28%;
    height: 300px;
    border-right: 1px solid #f5f5f5;
}

.datasource .right {
    float: right;
    width: 70%;
    padding-left: 10px;
}

.datasource .left ul {
    margin: 0 2%;
}

.datasource .left li {
    border-bottom: 1px solid #eaeaea;
    padding: 5px 8px;
    cursor: pointer;
}

.datasource .left li:hover {
    border-bottom-color: lightgray;
}

.datasource .left li.actived {
    font-weight: bold;
}

.datasource .add {
    display: block;
    padding: 5px 10px;
}

.datasource .del-icon {
    float: right;
    margin-top: 3px
}

.datasource .del-icon:hover {
    color: brown;
}