<template id="data-source-tpl">
    <div class="datasource" style="overflow: hidden">
        <div class="left">
            <ul>
                <li v-for="datasource in datasources" :key="datasource.id" @click="active(datasource.id)"
                    :class="{ actived: datasource.actived }">
                    <span>
                        <Icon type="md-trash" style="float: right; margin-top: 3px"
                            @click="del(datasource.id, $event)" />
                    </span>
                    {{datasource.name}}
                </li>
            </ul>
            <a class="add" @click="add">+ 新建……</a>
        </div>
        <div class="right">
            <i-Form ref="editForm" :model="form.data" :rules="form.createRules" :label-width="120"
                style="margin-right:100px">
                <form-item label="数据源名称：" prop="urlDir">
                    <i-Input v-model="form.data.urlDir" placeholder="数据源编码全局唯一不重复" />
                </form-item>
                <form-item label="数据库类型：" prop="type">
                    <i-Select v-model="form.data.type">
                        <Option v-for="(value, key) in DBType" :value="value" :key="value">{{ key }}</Option>
                    </i-Select>
                </form-item>
                <form-item label="连接地址：" prop="url">
                    <i-Input v-model="form.data.url" maxlength="200" show-word-limit type="textarea" :rows="4"
                        placeholder="数据库连接 URL，注意无须携带用户名和密码，且不需要 URL 转义" />
                </form-item>
                <form-item label="登录用户：" prop="username">
                    <i-Input v-model="form.data.username" placeholder="请输入数据库用户账号" />
                </form-item>
                <form-item label="登录密码：" prop="password">
                    <i-Input v-model="form.data.password" type="password" password placeholder="请输入账号密码" />
                </form-item>
                <form-item label="是否跨库：" prop="crossDB">
                    <i-switch v-model="form.data.crossDB" />
                </form-item>
            </i-Form>
            <!--                 <i-Input v-model="editing.name" ref="inputName">
                <span slot="prepend">环境名称</span>
            </i-Input>
            <br />
            <i-Input v-model="editing.urlPrefix">
                <span slot="prepend">URL前缀</span>
            </i-Input> -->
        </div>
    </div>
</template>