/* 手机端浏览器所显示的网页 CSS */
@media screen and (max-width:480px) {
	* {
		-webkit-tap-highlight-color: transparent; /* 很多 Android 浏览器的 a 链接有边框，这里取消它  */
		-webkit-touch-callout: none; /* 在 iOS 浏览器里面，假如用户长按 a 标签，都会出现默认的弹出菜单事件 */
		-webkit-user-select:none; /* !!! */
	}
}