<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ajaxjs-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 防御 -->
	<filter>
		<filter-name>HttpSessionCookitStoreFilter</filter-name>
		<filter-class>com.ajaxjs.web.security.HttpSessionCookitStoreFilter</filter-class>
		<init-param>
			<param-name>encryKey</param-name>
			<param-value>1234567887654321</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>DefaultBaseSecurityFilter</filter-name>
		<filter-class>com.ajaxjs.web.security.SecurityFilter</filter-class>
		<init-param>
			<param-name>securityFilterList</param-name>
			<!-- ,com.ajaxjs.web.security.filter.CsrfTokenCkeckFilter -->
			<param-value>com.ajaxjs.web.security.filter.CookieWhiteListFilter,com.ajaxjs.web.security.filter.FormPostPermitCheckFilter</param-value>
		</init-param>
		<init-param>
			<param-name>cookieWhiteList</param-name>
			<param-value>id,JESSIONID,name,clrf</param-value>
		</init-param>
		<init-param>
			<param-name>onlyPostUrlList</param-name>
			<param-value>/d/sssecurity, /user/aaa/name*</param-value><!-- 支持正则匹配 -->
		</init-param>
		<init-param>
			<param-name>whitefilePostFixList</param-name>
			<param-value>jpg,png,doc,xls</param-value>
		</init-param>
		<init-param>
			<param-name>encryKey</param-name>
			<param-value>1234567887654321</param-value>
		</init-param>
		<init-param>
			<param-name>redirectWhiteList</param-name>
			<param-value>http://localhost:8080/[0-9A-Za-z]*,http://www.taobao.com/[0-9A-Za-z]*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>HttpSessionCookitStoreFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DefaultBaseSecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- // -->
</web-app>