<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ajaxjs-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 防御 -->
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.ajaxjs.web.security.ConfigLoader</filter-class>
		
		<!-- 是否启动 XSS 过滤 -->
		<init-param>
			<param-name>enableXSSFilter</param-name>
			<param-value>true</param-value>
		</init-param>
		
		<!-- 是否启动 CLRF 过滤 -->
		<init-param>
			<param-name>enableCLRF_Filter</param-name>
			<param-value>true</param-value>
		</init-param>
		
		<!-- SESSION 通过加密存储到 cookie -->
		<init-param>
			<param-name>encryCookieKey</param-name>
			<param-value>1234567887654321</param-value>
		</init-param>
		
		<!-- Cookies 白名单机制验证和大小验证 -->
		<init-param>
			<param-name>cookieWhiteList</param-name>
			<param-value>id,JESSIONID,name,clrf</param-value>
		</init-param>
		
		<!-- 文件上传后缀白名单 过滤 -->
		<init-param>
			<param-name>uploadfileWhiteList</param-name>
			<param-value>jpg,png,doc,xls</param-value>
		</init-param>
	
		<!-- CSRF 攻击 过滤 -->
		<init-param>
			<param-name>CSRF_Filter</param-name>
			<param-value>true</param-value>
		</init-param>
	
		<!-- POST 白名单／黑名单机制验证（支持正则匹配） -->
		<init-param>
			<param-name>postWhiteList</param-name>
			<param-value>/d/sssecurity, /user/aaa/name*</param-value>
		</init-param>
		<init-param>
			<param-name>postBlackList</param-name>
			<param-value>true</param-value>
		</init-param>
		
		<!-- 配置 Security 异常发生后跳转 url 参数 -->
		<init-param>
			<param-name>redirectUrl</param-name>
			<param-value>/showErr.jsp?msg=</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- // -->
</web-app>