html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
}

menu {
    padding: 0;
    margin: 0;
    flex: 0 0 64px;
    height: 100%;
    background-color: #f5f6f8;
    box-shadow: inset -1px 0 0 0 #e5ecf0;
    overflow: hidden;
    text-align: center;
}

iframe {
    height: 100%;
    flex: 1;
    /*div占据所有剩余宽度 */
}

ul {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 13px;
    color: gray;
}

li {
    list-style: none;
    margin-bottom: 16px;
    padding-bottom: 6px;
}

li:hover,
li:hover a,
li:hover .icon {
    color: #2c7ef8;
}

li.selected {
    color: white;
    background-color: #2c7ef8;
}

li.selected a {
    color: white;
}

li.selected .icon {
    color: white;
}

li>a>div {
    margin: 0 auto;
}

li.bottom {
    position: fixed;
    width: 63px;
    bottom: 0px;
    left: 0px;
    padding-bottom: 20px;
    margin: 0;
}

a {
    color: gray;
    text-decoration: none;
    display: block;
}

.icon {
    color: #5f6d84;
    font-size: 24px;
    margin: 10px 0 5px 0;
}

#user-bar {
    font-size: 14px;
    position: fixed;
    right: 0;
    top: 0;
    height: 30px;
    width: 380px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #69cdff);
    text-align: center;
}

#user-bar a,
#user-bar div {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

#user-bar a {
    text-decoration: underline;
}

#user-bar .icon {
    margin-top: 5px;
}