@import './common-form-functions.less';

.aj-file-uploader {
    width:300px;
    &>* {
        display       : inline-block;
        vertical-align: middle;
    }

    label {
        margin-right: 2%;

        &>div {
            border        : 1px solid lightgray;
            border-radius : 5px;
            text-align    : center;
            color         : gray;
            cursor        : pointer;
            font-size     : .8rem;
            padding       : 10px;
            padding-bottom: 25px;
            width         : 100px;
            height        : 70px;
            transition    : border-color linear 300ms, color linear 300ms;

            &:hover {
                border-color: gray;
                color       : black;
            }

            &>div {
                font-size: 2rem;
            }
        }
    }

    button {
        .aj-btn-base();
        min-width: 110px;
    }

    input[type=file] {
        display: none;
    }

    .msg {
        font-size: .8rem;
        color    : gray;
        max-width: 50%;
        word-break: break-word;
        text-overflow: ellipsis;
        &>div {
            font-size: .75rem;
        }
    }
}

.aj-img-uploader {
    // display    : flex;
    // align-items: center;
    // word-break : break-all;

    img {
        margin-right: 10px;
        max-width   : 180px;
        max-height  : 160px;
    }

    .aj-file-uploader {
        display       : inline-block;
        vertical-align: top;
    }
}